.numbers{
  font-size: 30px;
  color: #808080;
  letter-spacing:0.3em;
  word-spacing: 0.2em;

}
.odd{
text-decoration: underline;
}

span,p + .even{
  text-decoration: overline;
}

.simple{
  font-weight: 900;
}

.odd  del{
  text-shadow: 2px 3px 4px rgb(236, 165, 11);
  font-size: 35px;
}

.power{
  color: rgb(255, 20, 147);
}

.sqr{
  opacity: 0;
}

.sqr:hover{
  opacity: 1;
}