.container{
    width: 100%;
    display: block;
    
}
.box{
    margin-bottom: 10px;
    background: red;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
@media (min-width:768px){
    .container{
        width: 768px;;
    }
    .box{
        display: inline-block;
        width: calc(33.33333333% - 20px);
        background: blue;
    }
    
}
@media (min-width:1024px){
    .container{
        width: 1024px;
    }
    .box{
        display: inline-block;
        width: calc(25% - 10px);
    }
}
@media (min-width:1280px){
    .container{
        width: 1280px;
    }
    .box{
        display: inline-block;
        width: calc(16.6666666% - 10px);
    }
}