table{
   border: 3px solid white;
   width: 75%;
   height: 30%;
   border-collapse: collapse;
}
tr,td{
   border: 3px solid white;
   border-collapse: collapse;
}
thead{
   font-weight: 900;
   color: white;
   background-color: cornflowerblue;
}

tr:nth-child(1n+1){
  text-align: center;
  vertical-align: middle; 
}
tr:nth-child(1-n+2){
background-color:rgb(240, 245, 250);
}
